/* css reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
/* COLOURS */
// Palette 2

// Primary
$blue-050: #dceefb;
$blue-100: #b6e0fe;
$blue-200: #84c5f4;
$blue-300: #62b0e8;
$blue-400: #4098d7;
$blue-500: #2680c2;
$blue-600: #186faf;
$blue-700: #0f609b;
$blue-800: #0a558c;
$blue-900: #003e6b;

$yellow-vivid-050: #fffbea;
$yellow-vivid-100: #fff3c4;
$yellow-vivid-200: #fce588;
$yellow-vivid-300: #fadb5f;
$yellow-vivid-400: #f7c948;
$yellow-vivid-500: #f0b429;
$yellow-vivid-600: #de911d;
$yellow-vivid-700: #cb6e17;
$yellow-vivid-800: #b44d12;
$yellow-vivid-900: #8d2b0b;

// Neutrals
$blue-grey-050: #f0f4f8;
$blue-grey-100: #d9e2ec;
$blue-grey-200: #bcccdc;
$blue-grey-300: #9fb3c8;
$blue-grey-400: #829ab1;
$blue-grey-500: #627d98;
$blue-grey-600: #486581;
$blue-grey-700: #334e68;
$blue-grey-800: #243b53;
$blue-grey-900: #102a43;

// Supporting
$cyan-050: #e0fcff;
$cyan-100: #bef8fd;
$cyan-200: #87eaf2;
$cyan-300: #54d1db;
$cyan-400: #38bec9;
$cyan-500: #2cb1bc;
$cyan-600: #14919b;
$cyan-700: #0e7c86;
$cyan-800: #0a6c74;
$cyan-900: #044e54;

$red-050: #ffeeee;
$red-100: #facdcd;
$red-200: #f29b9b;
$red-300: #e66a6a;
$red-400: #d64545;
$red-500: #ba2525;
$red-600: #a61b1b;
$red-700: #911111;
$red-800: #780a0a;
$red-900: #610404;
/* end of css reset */

body {
  color: white;


}
/// TODO     CHANGE    PLS //
/* dev styling */
#header,
#sidebar,
#footer,
#main {
  background: black;
  border: 2px solid red;
  
}

#container {
  display:flex;
  flex-direction:column;
  height: 100vh;
}
#header {
  grid-row: 0/2;
  height: 20vh;
}
#sidebar {
  width: 280px;
  height: 100%;
  
}

.project{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  background:green;
  width:100%;
  height:40px;
  border-bottom: solid white 1px;
  
}
#main{
  width:100%
}

