/* imports */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* css reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
/* COLOURS */
// Palette 2

// Primary
// Primary
$cyan-050: #e0fcff;
$cyan-100: #bef8fd;
$cyan-200: #87eaf2;
$cyan-300: #54d1db;
$cyan-400: #38bec9;
$cyan-500: #2cb1bc;
$cyan-600: #14919b;
$cyan-700: #0e7c86;
$cyan-800: #0a6c74;
$cyan-900: #044e54;

// Neutrals
$warm-grey-050: #faf9f7;
$warm-grey-100: #e8e6e1;
$warm-grey-200: #d3cec4;
$warm-grey-300: #b8b2a7;
$warm-grey-400: #a39e93;
$warm-grey-500: #857f72;
$warm-grey-600: #625d52;
$warm-grey-700: #504a40;
$warm-grey-800: #423d33;
$warm-grey-900: #27241d;

// Supporting
$blue-050: #dceefb;
$blue-100: #b6e0fe;
$blue-200: #84c5f4;
$blue-300: #62b0e8;
$blue-400: #4098d7;
$blue-500: #2680c2;
$blue-600: #186faf;
$blue-700: #0f609b;
$blue-800: #0a558c;
$blue-900: #003e6b;

$red-050: #ffeeee;
$red-100: #facdcd;
$red-200: #f29b9b;
$red-300: #e66a6a;
$red-400: #d64545;
$red-500: #ba2525;
$red-600: #a61b1b;
$red-700: #911111;
$red-800: #780a0a;
$red-900: #610404;

$yellow-050: #fffaeb;
$yellow-100: #fcefc7;
$yellow-200: #f8e3a3;
$yellow-300: #f9da8b;
$yellow-400: #f7d070;
$yellow-500: #e9b949;
$yellow-600: #c99a2e;
$yellow-700: #a27c1a;
$yellow-800: #7c5e10;
$yellow-900: #513c06;

$teal-050: #effcf6;
$teal-100: #c6f7e2;
$teal-200: #8eedc7;
$teal-300: #65d6ad;
$teal-400: #3ebd93;
$teal-500: #27ab83;
$teal-600: #199473;
$teal-700: #147d64;
$teal-800: #0c6b58;
$teal-900: #014d40;
input {
  border: 2px solid #000;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

input:invalid {
  border-color: $red-500;
  color: $red-900;
  background: $red-050;
}
input:valid {
  border-color: $teal-600;
  color: $teal-900;
  background: $teal-050;
}
//font scale
h1 {
  font-size: 30px;
}
p {
  font-size: 16px;
}
body {
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
//modals
#modal-space {
  background: red;
  border: solid blue 2px;
  height: 100px;
  width: 100%;
}
#new-project-modal {
  width: 500px;
  height: 300px;
  padding: 20px;
}
.todo-modal {
  border: 2px solid red;
  background: white;
  width: 200px;
  height: 200px;
}
input[type="radio"] {
  appearance: radio;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
/// TODO     CHANGE    PLS //
/* dev styling */
#header {
  color: $warm-grey-050;
  background: $blue-400;
}
#sidebar {
  background: $warm-grey-100;
  color: $warm-grey-900;
}
#footer,
#main {
  background: $warm-grey-050;
  color: $warm-grey-700;
  border-left: 1px solid $warm-grey-300;
}

#container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  margin: 0;
}
#header {
  grid-row: 1/1;
  grid-column: 1/3;
  height: 100%;
  min-height: 150px;
}
#sidebar {
  grid-row: 2/2;
  grid-column: 1/1;
  min-width: 250px;
  height: 100%;
}
#main {
  grid-row: 2/2;
  grid-column: 2/2;
  //inner flex
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $warm-grey-050;
  width: 100%;
  height: 40px;
  border-bottom: solid white 1px;
}
.project-btn {
  background: $warm-grey-050;
  border: 0px;
  border-bottom: $warm-grey-200 2px;
  width: 100%;
  cursor: pointer;
}
